html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 500ms linear;
}

.container{
    max-width: 1220px;
    padding:  0 10px;
    margin: 0 auto;
}

/* HEADER */ 

.header {
    height: 70px;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time{
    min-height: 124px;
    margin-bottom: 10px;
    font-family: 'Arial-MT';
    font-size: 100px;
    letter-spacing: 4px;
    font-weight: bold;
}

.date{
    min-height: 28px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.hello__text-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.hello__text {
    text-align: center;
    min-height: 48px;
    font-size: 40px;
    font-weight: 600;
    margin-right: 15px;
}

.name{
    flex: 1 1 0%;
    max-width: 30%;
    padding: 10px;
    font-size: 40px;
    text-align: left;
    color: pink;
    background-color: transparent;
    outline: 0px;
    border-radius: 15px;
}

.slide__prev, .slide__next{
    border: none;
    background: inherit;
    cursor: pointer;
}

path{
    fill: #fff;
}



