html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1220px;
    padding:  0 10px;
    margin: 0 auto;
}

/* HEADER */ 

.header {
    height: 70px;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time{
    min-height: 124px;
    margin-bottom: 10px;
    font-family: 'Arial-MT';
    font-size: 100px;
    letter-spacing: 4px;
    font-weight: bold;
}

.date{
    min-height: 28px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}