html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    color: #0D606F;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    color: inherit;
}
li{
    list-style-type: none;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
.header{
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
}
.header__title>img{
    width: 216px;
    height: 32px;
}
.menu{
    display: flex;
}
.menu__list + .menu__list{
    margin-left: 42px;
}
.btn{
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}
.login{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);   
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding: 10px 30px;
    border: none;
}
