html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing: inherit;
    scroll-behavior: inherit;
}

body{
    color: #0D606F;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
.header{
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    /* margin-bottom: 32px; */
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    text-align: center;
    height: 90px;
}
.header__title>img{
    width: 216px;
    height: 32px;
}
.menu{
    display: flex;
}
.menu__list + .menu__list{
    margin-left: 42px;
}
.menu__link:active{
    color: black;
}
.btn{
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    color: #fff;
    padding: 14px 33px;
    font-family: 'Red Hat Text';
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.login{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);   
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding: 10px 30px;
}
.preview{
    background-image: url(../images/back-img-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 765px;
    position: relative;
    z-index: -1;
    font-family: 'Aleo';
    color: #fff;
    margin-top: -90px;
}
.preview__title{
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    margin-bottom: 55px;
    padding-top: 122px;
}
.preview__text{
    font-style: italic;
    margin-bottom: 46px;
}
.preview__box{
    padding: 32px 0px 31px 41px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    max-width: 892px;
    display: flex;
    justify-content: space-between;   
    align-items: center;
    margin-bottom: 334px;
}
.preview__box-text{
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
}
.preview__box-btn{
    margin-right: 21px;
}
.steps{
    color: #F2785C;
    margin-bottom: 97px;
}
.steps__title{
    margin-top: 80px;
    margin-bottom: 40px;
}
.title__h2{
    text-align: center;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
}
.steps__descr{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.list__img{
    margin-bottom: 30px;
}
.list__text{
    color: #0D606F;
}
.destinations{
    margin-bottom: 80px;
    text-align: center;
}
.destinations__title{
    color: #F2785C;
    margin-bottom: 46px;
}
.slider{
    margin-bottom: 84px;
}
.destinations__btn{
    padding: 13px 31px 13px 81px;
    position: relative;
    display: inline-block;
    text-align: center;
}
.destinations__btn::before{
    content: url(../images/strelaright.svg);
    width: 36px;
    height: 23px;
    margin-right: 12px;
    position: absolute;
    left: 30px;
    top: 15px;
}
.stories__title{
    color: #F2785C;
    margin-bottom: 40px;
}
 .stories__inner{
    background: inherit;
    padding: 40px 0 0 0;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    position: relative;
} 
.stories__inner::before{
    display: block;
    content: "";
    background: rgba(255, 255, 255, 0.7);
    width: auto;
    height: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}
 .stories__inner, .footer{
    background-image: url(../images/phon-2.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
} 
.stories__box{
    position: relative;
    z-index: 2;
    margin-bottom: 40px;
    opacity: 1;
    opacity: inherit;
}
.stories__list{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    opacity: 1;
    position: relative;
    z-index: 10;
}
.stories__list + .stories__list{
    margin-top: 30px;
}
.stories__content{
    margin-left: 40px;
}
.content__title{
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
}
.content__text-link{
    font-weight: 700;
    text-decoration: underline;
}
.stories-box__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
.stories__btn{
    position: relative;
    padding: 13px 31px 13px 81px;
    text-align: center;
    margin-bottom: 41px;
}
.stories__btn::before{
    content: url(../images/strelaright.svg);
    width: 36px;
    height: 23px;
    margin-right: 12px;
    position: absolute;
    top: 15px;
    left: 30px;
}
.footer__inner{
    padding: 14px 0;
}
.footer__text{
    color: #fff;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}
.social__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social__link + .social__link{
    margin-left: 20px;
}
.social__link-img{
    color: #fff;
    width: auto;
    height: 34px;
}
.social-list__link--flex{
    display: flex;
    align-items: center;
}
    

